h1{
    font-weight: 500;
    color: #5353a7;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #5dbfc8;
    border-radius: 0px;
    margin: auto;
    background-color: #d9f3f6;
    padding: 10px;
    width: 250px;
}
.form-container > label{
    margin-right: 10px;
    font-weight: 600;
}
.form-controls {
    margin: 10px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form__controls > label {
    margin-right: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    }
.form-controls > input:focus{
    outline: 2px solid #5d91c8;
    outline-offset: 1px;
    transform: scale(1.05);
}
.button {
    height: 40px;
    width: 100px;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
    color: #ffff;
    background-color: #5dbfc8;
    transition: 0.1s ease-in-out;
}
.button:hover {
    background-color: #5353a7;
    color: whitesmoke;
    border-color: gray;
    transform: scale(1.05);
}
@media only screen and (max-width: 480px) {
    .form-container {
    width: 290px;
    }
    .form__controls > input {
        width: 150px;
    }
    
}

        